annotated-types==0.7.0
asgiref==3.8.1
crispy-bootstrap5==2024.2
Django==5.1.1
django-bootstrap-datepicker-plus==5.0.5
django-bootstrap5==24.2
django-crispy-forms==2.3
mysqlclient==2.2.4
pydantic==2.9.1
pydantic_core==2.23.3
setuptools==72.1.0
sqlparse==0.5.1
typing_extensions==4.12.2
tzdata==2024.1
wheel==0.43.0
