<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ログイン</title>
    {% load django_bootstrap5 %}
    {% bootstrap_css %}
</head>
<body>
    <div class="container mt-5">
        <h1 class="text-center mb-4">ログイン</h1>
        <div class="row justify-content-center">
            <div class="col-md-6">
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}  
                    <button type="submit" class="btn btn-primary w-100">ログイン</button>  <!-- Bootstrapのボタン -->
                </form>
            </div>
        </div>
    </div>
    {% bootstrap_javascript %}
</body>
</html>
